body {
  color: #fff;
  text-align: center;
}
#content {
  display: grid;
  /* grid-template-columns: 100px auto; */
  /* grid-template-columns: 30% 20% 50%; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3 minmax(200px auto)); */
  /* grid-auto-rows: minmax(200px auto); */
  grid-gap: 10px;
  /* max-width: 960px;
  margin: 0 auto; */
}

#content div {
  background: #3bbced;
  padding: 30px;
}
#content div:nth-child(even) {
  background: #777;
}
